################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PMMS/.vs/PMMS
/.vs
/PMMS/.vs/ProjectEvaluation
/PMMS/bin/Debug/net8.0
